- hosts: localhost
  become: false
  tasks:
    - name: Create a temporary directory
      ansible.builtin.tempfile:
        state: directory
        suffix: awx
      register: awx_operator_dir
    - name: Checkout awx repo at a specific tag
      ansible.builtin.git:
        repo: 'https://github.com/ansible/awx-operator.git'
        dest: "{{ awx_operator_dir.path }}"
        version: 2.19.1
    - name: Create a k8s namespace for awx
      kubernetes.core.k8s:
        name: awx
        api_version: v1
        kind: Namespace
        state: present